abbr:where([title]) {
    text-decoration: none;
}

.react-calendar__tile--now, .react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus {
    background: rgb(63 131 248 / 15%);
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background-color: #e6e6e63d;
}

.react-calendar__tile--active {
    --tw-bg-opacity: 1;
    background: rgb(88 80 236 / var(--tw-bg-opacity)) !important;
    color: white;
}

.react-calendar__navigation {
    margin-bottom: 0em;
    border-bottom: 1px solid gray;
}